@import "nib"
@media screen and (min-width: 48rem)
  .theme-card
    color #f8f8f2

$accent = #bd93f9

.theme-card
  border 1px solid $accent
  &:hover
    box-shadow 0 0 0.75rem rgba(189, 147, 249, 0.4)
